{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="ticket_choice_page">
       <div class="ticket_choice_container">
           <div>8:30</div>
           <div>- 3h -</div>
           <div>11:30</div>
           <div>FLIXBUS</div>
           <div>Minsk</div>
           <div>Gomel</div>
           <div>19.24 BYN</div>
           <a href="#" class="button_book_tickets">Book ticket</a>
       </div>
    </section>
</body>
</html>