<!DOCTYPE HTML>
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="online bus tickets booking">
		<meta name="keywords" content="Bus, Traveling, Bus tickets, Booking">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style_ordering.css' %}">
        <title>TRAVEL - online bus tickets booking</title>
    </head>
    <body>
        <section class="img_container_ordering">
            <div class="navigation_in_line">
                <p><a href="/" class="main_page_link">TRAVEL</a></p>
                <a href="/booking_tickets/personal_account" class="personal_account_button"><img src="{% static 'img/account_icon.png' %}" height="52.8" width="52.8"></a>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="ordering1">
                    <div>{{form.as_p}}</div>
                    <br>
<!--                    <div>-->
<!--                        <div class="ticket_block1">-->
<!--                            <div class="div1">{{ tic.ticket.from_time }}</div>-->
<!--                            <div class="div2">{{ available_ticket.ticket.to_time }}</div>-->
<!--                            <div class="div3">{{ available_ticket.ticket.route.departure_location }}</div>-->
<!--                            <div class="div4">{{ available_ticket.ticket.route.arrival_location }}</div>-->
<!--                        </div>-->
<!--                        <div class="div5">{{ available_ticket.ticket.bus.company.title }}</div>-->
<!--                        <div class="ticket_block2">-->
<!--                            <div class="div6">{{ available_ticket.ticket.bus.bus_type }</div>-->
<!--                            <div class="div7">{{ available_ticket.ticket.bus.bus_number }</div>-->
<!--                        </div>-->
<!--                        <div class="div8">{{ available_ticket.ticket.price }} BYN</div>-->
<!--                    </div>-->
<!--                    <div class="ordering2">-->

                </div>
                <button type="submit" class="button_book_tickets">Book ticket</button>
            </form>
            <a href="/booking_tickets/available_tickets" class="back_to_tickets">Back to available tickets</a>
        </section>
    </body>
</html>
{% endblock %}