<!DOCTYPE HTML>
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="online bus tickets booking">
		<meta name="keywords" content="Bus, Traveling, Bus tickets, Booking">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style_ordering.css' %}">
        <title>TRAVEL - online bus tickets booking</title>
    </head>
    <body>
        <section class="img_container_ordering">
            <div class="navigation_in_line">
                <p><a href="/" class="main_page_link">TRAVEL</a></p>
                <a href="/booking_tickets/personal_account" class="personal_account_button"><img src="{% static 'img/account_icon.png' %}" height="52.8" width="52.8"></a>
            </div>
            <div class="ordering1">
                <div>
                    <div class="ticket_block1">
                        <div class="div1">8:30</div>
                        <div class="div2">11:30</div>
                        <div class="div3">Minsk</div>
                        <div class="div4">Gomel</div>
                    </div>
                    <div class="div5">FLIXBUS</div>
                    <div class="ticket_block2">
                        <div class="div6">Renault Trafic</div>
                        <div class="div7">3242-9</div>
                    </div>
                    <div class="div8">19.24 BYN</div>
                </div>
                <div class="ordering2">
                    <div class="seats_form">
                        <label class="check">
                            <input type="checkbox" value="1" class="check_input">
                            <span class="check_box">1</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="2" class="check_input">
                            <span class="check_box">2</span>
                        </label>
                        <label class="check seats_form_replacement">
                            <input type="checkbox" value="3" class="check_input">
                            <span class="check_box">3</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="4" class="check_input">
                            <span class="check_box">4</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="5" class="check_input">
                            <span class="check_box">5</span>
                        </label>

                        <label class="check">
                            <input type="checkbox" value="6" class="check_input">
                            <span class="check_box">6</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="7" class="check_input">
                            <span class="check_box">7</span>
                        </label>
                        <label class="check seats_form_replacement">
                            <input type="checkbox" value="8" class="check_input">
                            <span class="check_box">8</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="9" class="check_input">
                            <span class="check_box">9</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="10" class="check_input">
                            <span class="check_box">10</span>
                        </label>

                        <label class="check">
                            <input type="checkbox" value="11" class="check_input">
                            <span class="check_box">11</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="12" class="check_input">
                            <span class="check_box">12</span>
                        </label>
                        <label class="check seats_form_replacement">
                            <input type="checkbox" value="13" class="check_input">
                            <span class="check_box">13</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="14" class="check_input">
                            <span class="check_box">14</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="15" class="check_input">
                            <span class="check_box">15</span>
                        </label>

                        <label class="check">
                            <input type="checkbox" value="16" class="check_input">
                            <span class="check_box">16</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="17" class="check_input">
                            <span class="check_box">17</span>
                        </label>
                        <label class="check seats_form_replacement">
                            <input type="checkbox" value="18" class="check_input">
                            <span class="check_box">18</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="19" class="check_input">
                            <span class="check_box">19</span>
                        </label>
                        <label class="check">
                            <input type="checkbox" value="20" class="check_input">
                            <span class="check_box">20</span>
                        </label>
                    </div>
                    <a href="/booking_tickets/personal_account" class="button_book_tickets">Book ticket</a>
                </div>
            </div>
            <a href="/booking_tickets/available_tickets" class="back_to_tickets">Back to available tickets</a>
        </section>
    </body>
</html>
{% endblock %}