<!DOCTYPE HTML>
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="online bus tickets booking">
		<meta name="keywords" content="Bus, Traveling, Bus tickets, Booking">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style_personal_account.css' %}">
        <title>TRAVEL - online bus tickets booking</title>
    </head>
    <body>
        <section class="img_container_personal_account">
            <div class="navigation_in_line">
                <p><a href="/" class="main_page_link">TRAVEL</a></p>
                <p class="user_inf">{{ user.first_name }} {{ user.last_name }}</p>
                <div><a class="logout_button" href="/">Logout</a></div>
            </div>
            <form class="ticket1">
                <div class="ticket2">
                    <div class="div1">8:30</div>
                    <div class="div2">- 3h -</div>
                    <div class="div3">11:30</div>
                    <div class="div4">Minsk</div>
                    <div class="div5">Gomel</div>
                    <div class="div6">FLIXBUS</div>
                    <div class="div7">Renault Trafic </div>
                    <div class="div8">2345-8</div>
                </div>
                <div class="ticket_bottom">
                    <div class="div9">19.24 BYN</div>
                    <div>Seat: 3</div>
                </div>
                <a class="return_ticket" href="/">Return ticket</a>
            </form>
        </section>
    </body>
</html>
{% endblock %}