<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<body>
     <form id="form_signin" action="/booking_tickets/" method="get">
         {% crsf_token %}
            <input type="text" name="last_name" placeholder="Last name">
            <input type="text" name="first_name" placeholder="First name">
            <input type="text" name="phone"  placeholder="Telephone number">
            <input type="text" name="email" placeholder="E-mail">
            <input type="text" name="password"  placeholder="Password">
            <button href="#">Sign in</button>
            <a href="#">Create an account</a>
     </form>
</body>
</html>