@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Jockey One', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-inline-start: 0;
    margin: 0;
}

html{
    background-color: #FFFFFF;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.img_container_ordering {
    width:100%;
    height:745px;
    background-image: url("./img/ordering.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navigation_in_line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

p {
    margin: 0;
    padding-left: 50px;
    padding-top: 40px;
}

.main_page_link{
    font-family: 'Jockey One', sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 67px;
    color: #d9d9d9;
    text-decoration: none;
}

.personal_account_button {
    width: 55px;
    height: 55px;
    display: block;
    margin-top: 45px;
    margin-left: 650px;
}

.ordering1 {
    width: 650px;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 50px;
    margin-left: 405px;
    margin-top: 80px;
}

.button_book_tickets {
    display: inline-block;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 24px;
    color: white;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    background-color: #0500FF;
    border-radius: 50px;
    border: none;
    margin-left: 160px;
    margin-top: 8px;
}

.button_book_tickets:hover {
    background-color: #0300cb;
}

.back_to_tickets {
    display: block;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Nunito';
    color: #ffffff;
    text-decoration: none;
}

.back_to_tickets:hover {
    text-decoration: underline;
}