@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Jockey One', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-inline-start: 0;
    margin: 0;
    background-color: #E5E5E5;
}

html{
    background-color: #FFFFFF;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.img_container_ordering {
    width:100%;
    height: 745px;
    background-image: url("./img/available_tickets.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navigation_in_line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

p {
    margin: 0;
    padding-left: 50px;
    padding-top: 40px;
}

.main_page_link {
    font-family: 'Jockey One', sans-serif;
    font-weight: 700px;
    font-size: 40px;
    line-height: 67px;
    color: #ffffff;
    text-decoration: none;
}

.personal_account_button {
    width: 55px;
    height: 55px;
    display: block;
    margin-top: 45px;
    margin-left: 650px;
}

.ticket_choice_page {
    width:100%;
    height:745px;
}

.button_book_tickets {
    display: inline-block;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 24px;
    color: white;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    background-color: #0500FF;
    border-radius: 50px;
    border: none;
    margin-left: 20px;
}

.button_book_tickets:hover {
    background-color: #0300cb;
}

.ticket_choice_container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 20px;
}

.available_tickets_time {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    border-bottom: 3px dashed #E5E5E5;
}

.available_tickets_price {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    font-family: 'Roboto', sans-serif;
    height: 55px;
    margin-top: 15px;
}

.available_ticket_1 {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 700;
    font-size: 36px;
}
.available_ticket_2 {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
}
.available_ticket_3 {
    grid-area: 1 / 3 / 2 / 4;
    font-weight: 700;
    font-size: 36px;
}
.available_ticket_4 {
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}
.available_ticket_5 {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: 400;
    font-size: 20px;
}
.available_ticket_6 {
    grid-area: 2 / 3 / 3 / 4;
    font-weight: 400;
    font-size: 20px;
}
.available_ticket_7 {
    grid-area: 1 / 1 / 2 / 2 ;
    font-weight: 700;
    font-size: 36px;
    color: #0500FF;
    margin-top: 5px;
}
.available_ticket_8 {
    grid-area: 1 / 3 / 2 / 4;
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
}
.available_ticket_9 {
    grid-area: 1 / 4 / 2 / 5;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
