<!DOCTYPE HTML>
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="online bus tickets booking">
		<meta name="keywords" content="Bus, Traveling, Bus tickets, Booking">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>TRAVEL - online bus tickets booking</title>
    </head>
	<body>
        <main>
            <section class="img_container">
                <div class="navigation_in_line">
                    <p class="main_page_h1">TRAVEL</p>
                    <div class="navigation">
                            {% if user.is_authenticated %}
                            <div class="main_page_user_inf">{{ user.first_name }} {{ user.last_name }}</div>
                            {% else %}
                            <div class="login_buttons">
                                <a href="booking_tickets/sign_up/" class="navigation_buttons">Sign up</a>
                                <a href="booking_tickets/login/" class="navigation_buttons">Login</a>
                            </div>
                            {% endif %}
                            <a href="booking_tickets/personal_account/" class="personal_account_button"><img
                                    src="{% static 'img/account_icon.png' %}" height="52.8" width="52.8"></a>
                    </div>
                </div>
                <div class="main_page_text1">BOOK BUS TICKETS<br>IN A SIMPLE WAY</div>
                <div class="main_page_text2">Travel all over the world</div>
                <form id="location" action="/booking_tickets/available_tickets/" class="search search_container" method="get">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="button_book_tickets">Book ticket</button>
                </form>
                <a class="admin_link" href="admin/">Admin</a>
            </section>
        </main>
    </body>
</html>
{% endblock %}


