<!DOCTYPE HTML>
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="online bus tickets booking">
		<meta name="keywords" content="Bus, Traveling, Bus tickets, Booking">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>TRAVEL - online bus tickets booking</title>
    </head>
	<body>
        <main>
            <section class="img_container">
                <div class="navigation_in_line">
                    <p class="main_page_h1">TRAVEL</p>
                    <nav class="navigation">
                            <a href="booking_tickets/sign_up/" class="navigation_buttons">Sign up</a>
                            <a href="booking_tickets/login/" class="navigation_buttons">Login</a>
                            <a href="booking_tickets/personal_account/" class="personal_account_button"><img src="{% static 'img/account_icon.png' %}" height="52.8" width="52.8"></a>
                    </nav>
                </div>
                <div class="main_page_text1">BOOK BUS TICKETS<br>IN A SIMPLE WAY</div>
                <div class="main_page_text2">Travel all over the world</div>
                <section class="search search_container">
                    <input class="ticket_filter" type="text" name="from" list="cities" placeholder="From">
                    <input class="ticket_filter" type="text" name="to" list="cities" placeholder="To">
                    <datalist id="cities">
                        <option label="Gomel" value="Gomel">
                        <option label="Minsk" value="Minsk">
                        <option label="Saint-Peterburg" value="Saint-Peterburg">
                        <option label="Warshaw" value="Warshaw">
                        <option label="Vienna" value="Vienna">
                        <option label="Berlin" value="Berlin">
                    </datalist>
                    <input class="ticket_filter_date" id="date" type="date" min="2022-12-01" max="2023-01-31" required placeholder="">
                    <a href="booking_tickets/available_tickets/" class="button_book_tickets">Book ticket</a>
                </section>
                <a class="admin_link" href="admin/">Admin</a>
            </section>
        </main>
    </body>
</html>
{% endblock %}